<div class="sticky top-0 left-0 bg-white w-full h-full shadow-lg py-3 z-10">
  <nav
    class="flex justify-between w-full min-h-[7vh] items-center text-center md:ps-8"
  >
    <div class="logo flex items-center font-[900] text-[#0085ff] text-2xl">
      <img [src]="logo" alt="" class="w-12" />
      Contacts
    </div>

    <div class="flex justify-around items-center w-[50%] md:w-[30%] lg:w-[20%]">
      <a
        routerLink="auth/sign-in"
        class="cursor-pointer px-3 py-1 md:px-6 md:py-2 border border-blue-500 hover:bg-blue-500 hover:text-white rounded shadow-md"
        >Sign In</a
      >
      <a
        routerLink="auth/sign-up"
        class="text-white bg-blue-500 rounded px-3 py-1 md:px-6 md:py-2 cursor-pointer shadow-md"
        >Sign Up</a
      >
    </div>
  </nav>
</div>

<section class="max-w-[1600px]">
  <div
    class="flex flex-col-reverse lg:flex-row items-center justify-center w-full gap-12 mt-14 lg:mt-28"
  >
    <div class="flex flex-1 flex-col items-center lg:items-start lg:pl-10">
      <h2
        class="text-blue-500 text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6"
      >
        A Simple Contact Manager
      </h2>
      <p class="text-lg text-center lg:text-left mb-6">
        A clean and simple interface to organize your contact list. Open a new
        browser tab and see your contacts load instantly. Try it for free.
      </p>
      <div class="flex justify-center flex-wrap gap-6">
        <button
          type="button"
          class="cursor-pointer px-3 py-1 md:px-6 md:py-2 border border-blue-500 hover:bg-blue-500 hover:text-white rounded shadow-md"
        >
          Get it on Chrome
        </button>
        <button
          type="button"
          class="text-white bg-blue-500 px-3 py-1 md:px-6 md:py-2 cursor-pointer shadow-md rounded-md transition duration-300;"
        >
          Get it on Firefox
        </button>
      </div>
    </div>

    <div
      class="flex justify-center flex-end flex-1 mb-10 md:mb-16 lg:mb-0 z-10"
    >
      <img
        class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
        src="/assets/images/hero-bg.png"
        alt=""
      />
    </div>
  </div>
</section>
