.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 1000;
  height: calc(100% - 64px);
  width: 280px;
  transition: margin-left 0.3s ease;
}

.expanded {
  margin-left: -280px;
}

.content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.content-expanded {
  margin-left: -280px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
  }

  .content {
    padding-left: 280px;
  }
}

@media (max-width: 768px) {
  .content-expanded {
    margin-left: 0px;
  }
}
