<section class="bg-gray-300 w-full h-full">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-blue-600 md:text-2xl"
        >
          Welcome to Contacts
        </h1>
        <p>Sign up to get started!</p>
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
        >
          @for (input of inputs; track $index) {
          <app-custom-input
            [label]="input.label"
            [type]="input.type"
            [placeholder]="input.placeholder"
            [errorMessage]="input.errorMessage"
            [control]="formControlName(input.control)"
          />
          }

          <app-custom-button
            [type]="'submit'"
            [text]="isLoading ? 'Loading...' : 'Sign up'"
            [disabled]="registerForm.invalid || isLoading"
          />

          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account?
            <a
              routerLink="/auth/sign-in"
              class="font-medium text-blue-600 hover:underline dark:text-blue-500"
              >Login here</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
