<div
  class="sticky top-10 left-0 right-0 border-b border-b-gray-300 bg-white z-20"
>
  <div
    class="lg:grid lg:grid-cols-[0.25fr_0.25fr_0.2fr_0.2fr_0.1fr] items-center border-b h-[50px] px-3 flex justify-between w-full"
  >
    <div class="text-[#3c4043] text-sm px-3 font-medium">
      <span>Name</span>
    </div>
    <div class="text-[#3c4043] text-sm px-3 font-medium">
      <span>Email</span>
    </div>
    <div class="text-[#3c4043] text-sm px-3 font-medium">
      <span>Phone </span>
    </div>
    <div class="text-[#3c4043] text-sm px-3 font-medium hidden lg:flex">
      <span ngIf="!isTrash">Job Title </span>
      <span class=""> & Company</span>
      <!-- <span class="isTrash">Date deleted</span> -->
    </div>

    <div
      ngIf="!isTrash"
      class="hidden lg:flex gap-3 items-center justify-end text-dark-gray text-xl font-medium"
    >
      <button matTooltip="Export" matTooltipClass="text-sm">
        <!-- <i
        class="icon-export-variant cursor-pointer"
        (click)="handleExportContact()"
      ></i> -->

        <mat-icon class="cursor-pointer">upload</mat-icon>
      </button>
    </div>
  </div>
</div>
